{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="two columns">
        <a href="{{ url_for('home') }}">
          <img src="{{ url_for('static',filename='MiFrameLogo50x50.png') }}">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="full column" style="margin-top: 40px">
            <h4>Edit Image</h4>
            Click actions to rotate, like, favorite, or block this image.
      </div>
    </div>
    <div class="row">
          <div class="twelve columns">
            <a href="{{ url_for('getimage',img_id=nId) }}">
              <img src="{{ url_for('getthumb',img_id=nId,width=320,height=320) }}">
            </a>
          </div>
    </div> 
    <div class="row">
      <div class="twelve columns">
        {% if dImgInfo['likes'] > 0 %}
        {{dImgInfo['likes']}} ThumbsUp
        {% endif %}
        {% if dImgInfo['favorite'] %}
        Favorite
        {% endif %}
        {% if dImgInfo['likes'] < 0 %}
        Blocked
        {% endif %}          
      </div>
    </div> 
    <div class="row">
      <div class="two columns">
        <a class="button button-primary" href="{{ url_for('rotate',img_id=nId) }}"
            style="width:150px;">
            Rotate
        </a>
        <a class="button button-primary" href="{{ url_for('replay',img_id=nId) }}"
            style="width:150px;">
            Replay
        </a>
      </div>          
      <div class="three columns">
        <a class="button button-primary" href="{{ url_for('thumbsup',img_id=nId) }}"
            style="background-color:green; width:150px;">
          Thumbs Up&nbsp; &nbsp; &nbsp;
        </a>
        <a class="button button-primary" href="{{ url_for('thumbsdown',img_id=nId) }}"
            style="background-color:red;  width:150px;"">
          Thumbs Down
        </a>
      </div>          
      <div class="two columns">
        <a class="button button-primary" href="{{ url_for('favorite',img_id=nId) }}"
            style="background-color:yellow; color:black; width:150px;"">
          Favorite
        </a>
      </div>          
      <div class="two columns">
        <a class="button button-primary" href="{{ url_for('block',img_id=nId) }}" 
            style="background-color:black; width:150px;">
          Block
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="six columns">
        <pre><code>{% for key in dImgInfo.keys() %}{{key}} : {{dImgInfo[key]}}
{% endfor %}</code></pre>
      </div>
    </div>
{% endblock %}
