{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="full column">
        <a href="{{ url_for('utilities')}}">Utilities</a>
      </div>
    </div>
    <div class="row">
      <div class="full column" style="margin-top: 50px;">
        <h1>MiFrame Home</h1>
        <p>Welcome to your MiFrame. Click on a recently viewed image to 
        rotate, like, favorite or block from further views.  You can 
        even put it back into the queue!</p>
        {% for id in aids %}
        <a href="{{ url_for('edit',img_id=id) }}">
          <img src="{{ url_for('getthumb',img_id=id,width=170,height=170) }}">
        </a>
        {% endfor %}
      </div>
    </div>
{% endblock %}
